In [1]:
# integert to float , and string conversion 
num = 24
print(float(num))
print(str(num))

24.0
24

In [2]:
# integert to float , and string conversion 
num = 24
float_num = float(num)
print(type(float_num))
print(float_num)

<class 'float'>
24.0

In [3]:
# Float to integet and string conversion
num = 24.0
print(int(num))
print(str(num))

24
24.0

In [4]:
# string to integet, list, tuple , set
s1 = '123'
s2 = 'abc123ab'
print(int(s1))
print(list(s2))
print(tuple(s2))
print(set(s2))

123
['a', 'b', 'c', '1', '2', '3', 'a', 'b']
('a', 'b', 'c', '1', '2', '3', 'a', 'b')
{'a', 'c', '2', 'b', '3', '1'}

In [6]:
# list to string, set, tuple
lst = [1,2,'a', 'Codegnan']
print(str(lst))
print(set(lst))
print(tuple(lst))
print(dict(lst))

[1, 2, 'a', 'Codegnan']
{1, 2, 'a', 'Codegnan'}
(1, 2, 'a', 'Codegnan')

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [7]:
## list of tuples to dictionary
l = [('a',1), ('b',2),('c',3)]
print(dict(l))
{'a': 1, 'b': 2, 'c': 3}
# set to string, list, tuple
s = {1,2,3,'a','Codegnan'}
print(list(s))
print(tuple(s))
[1, 2, 3, 'a', 'Codegnan']
(1, 2, 3, 'a', 'Codegnan')

{'a': 1, 'b': 2, 'c': 3}
['a', 2, 3, 1, 'Codegnan']
('a', 2, 3, 1, 'Codegnan')

(1, 2, 3, 'a', 'Codegnan')

In [8]:
# tuple to list, set 
t = (1,2,3,'hi')
print(list(t))
print(set(t))
[1, 2, 3, 'hi']
{1, 2, 3, 'hi'}

[1, 2, 3, 'hi']
{1, 2, 3, 'hi'}

{1, 2, 3, 'hi'}

In [10]:
'''problem solving Game
Write a Python program to convert kilometers to miles?
Write a Python program to convert Celsius to Fahrenheit?
Write a Python program to display calendar?
Write a Python program to solve quadratic equation?
Write a Python program to swap two variables without temp variable?'''

'problem solving Game\nWrite a Python program to convert kilometers to miles?\nWrite a Python program to convert Celsius to Fahrenheit?\nWrite a Python program to display calendar?\nWrite a Python program to solve quadratic equation?\nWrite a Python program to swap two variables without temp variable?'

In [11]:
# Write a Python program to convert kilometers to miles?
km = int(input())
miles = km / 1.609
print(miles)

 12

7.458048477315103

In [12]:
# Write a Python program to convert Celsius to Fahrenheit?
celsius = int(input())
fahrenheit = celsius * 9/5 + 32
print(str(fahrenheit)  + ' F')

 12

53.6 F

In [13]:
# Write a Python program to convert Fahrenheit to Celsius?
fahrenheit = float(input())
Celsius = (fahrenheit-32) * 5/9 
print(Celsius)

 12

-11.11111111111111

In [15]:
# Write a Python program to solve quadratic equation?
a,b, c = map(int, input().split())
numarator = ((b**2) - (4*a*c))**0.5
denomi = 2*a
root1 = (-b + numarator)/(denomi)
root2 = (-b - numarator)/(denomi)
print(root1, root2)

 1 2 3

(-0.9999999999999999+1.4142135623730951j) (-1-1.4142135623730951j)

In [16]:
s = '1x^2 + 4x + 12'
l = s.split('+')
print(str(l[0])[:-4])
a, b, c = str(l[0])[:-4], str(l[1])[:-2], l[2]
print(a,b,c)

1
1  4  12

In [17]:
import calendar
#print(calendar.calendar(int(input())))
print(calendar.month(2025,7))

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31